*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  width: 100%;
  height: 100%;
}
.grid{
  display: grid;
 margin-top: 10vh;
  gap: 2px;
grid-template-columns: repeat(10,50px);
user-select: none;
place-content: center;

}
.box{
  text-align: center;
  border: 1px solid;
  height: 30px;
  transition:all ease-in-out 200ms;
}
.box:hover{
  scale: 1.1;
}
.selected{
  background-color: rgb(47, 92, 107);
}